# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# IDE/editor settings
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp

# Test artifacts
*.coverage
htmlcov/

#metrics
scc.exe